.tools-container {
  display: flex;
  justify-content: space-around;
  padding: 0 15px 15px 15px;
}
.add-expense-container {
  display: flex;
  flex-direction: column;
}
.expenses-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 45px 15px 15px 15px;
}
.summary-view {
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .tools-container {
    flex-direction: column;
  }
  .expenses-container {
    flex-direction: column;
  }
}
